<div class="container" *ngIf="course && courseId">

  <!-- Title -->
  <div class="mb-2">
    <h2>Course <span class="courseName">{{course.name}}</span></h2>
  </div>

  <!-- Course Details -->
  <div class="card card-body">
    <form>
      <fieldset [disabled]="true">
        <div class="row">
          <!-- Left Col -->
          <div class="col">
            <div class="form-group">
              <label for="courseName">Course Name</label>
              <input type="text" class="form-control" name="courseName" [(ngModel)]="course.name">
            </div>
            <div class="form-group">
              <label for="image">Course card image</label>
              <div class="gallery">
                <div *ngFor="let img of course.images">
                  <img src="{{img}}" alt="">
                </div>
              </div>
            </div>
          </div>
          <!-- Right Col -->
          <div class="col">
            <div class="form-group">
              <label for="courseStatus">Course Status</label>
              <select name="courseStatus" [(ngModel)]="course.status">
                <option value=""></option>
                <option value="DRAFT">DRAFT</option>
                <option value="PUBLISHED">PUBLISHED</option>
              </select>
            </div>
            <div class="form-group">
              <label for="instructor">Instructor</label>
              <!-- For multiselect edit, maybe use Material: https://material.angular.io/components/select/overview -->
              <div class="instructors">
                <span *ngFor="let instructor of course.instructors">{{instructor.name}} </span>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

</div>