label {
  font-weight: bold;
  margin-bottom: .2rem;
}

.courseName {
  color: teal;
}

.gallery, .instructors {
  background-color: #eeeeee;
  padding: 1em;
}

.gallery {
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
  grid-gap: 1em;
}

.instructors {
  display: flex;
}

.instructors>span {
  margin-right: 1em;
}

.gallery img {
  height: 5em;
  width: 5em;
}