label {
  font-weight: bold;
  margin-bottom: .2rem;
}

.courseName {
  color: teal;
}

.gallery {
  background-color: #eeeeee;
  display: flex;
}

.gallery img {
  height: 5em;
  margin: 1em 0 1em 1em;
  width: 5em;
}