<div class="container">

  <!-- Title -->
  <div class="row text-center mb-2">
    <h2>Courses</h2>
  </div>

  <!-- Course List -->
  <div class="row">
    <div class="card card-body">

      <!-- Tools -->
      <div class="row mb-3 ml-0 courseListTools">
        <div>
          Filter by:
          <select name="filter">
            <option value="">Course Status</option>
            <option value="DRAFT">DRAFT</option>
            <option value="PUBLISHED">PUBLISHED</option>
          </select>
          <a href="#">Clear</a>
        </div>
        <div class="mr-3">
          <input type="text" class="form-control" placeholder="Search courses" [(ngModel)]="searchTerm"
            (ngModelChange)="search()">
        </div>
      </div>

      <!-- Table -->
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of courseList" [routerLink]="['/courseDetails', 1]">
              <th scope="row">{{course.id}}</th>
              <td>{{course.imageUrl}}</td>
              <td>{{course.name}}</td>
              <td>{{course.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>