thead {
  background-color: #eeeeee;
}

.courseListTools {
  display: flex;
  justify-content: space-between;
}

.courseListTools select {
  display: unset;
  width: auto;
}

.courseListTools a {
  font-weight: bold;
  margin-left: 0.5em;
}

.statusBox {
  border: 1px solid teal;
  border-radius: 0.2em;
  padding: 0.1em 0.4em;
}