<div class="container">

  <!-- Title -->
  <div class="mb-2">
    <h2>Courses</h2>
  </div>

  <!-- Course List -->
  <div class="card card-body">

    <!-- Tools -->
    <div class="row mb-2 ml-0 courseListTools">
      <div>
        Filter by:
        <select [(ngModel)]="filterStatusTerm" name="filter">
          <option value="">Course Status</option>
          <option value="DRAFT">DRAFT</option>
          <option value="PUBLISHED">PUBLISHED</option>
        </select>
        <a href="#" (click)="clearFilter()" *ngIf="filterStatusTerm || searchTerm">Clear</a>
      </div>
      <div class="mr-3">
        <input type="text" class="form-control" placeholder="Search courses" [(ngModel)]="searchTerm"
          (ngModelChange)="search()">
      </div>
    </div>

    <!-- Table -->
    <div class="row">
      <table class="table" *ngIf="courseList.length>0">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courseList">
            <ng-container *ngIf="filterStatusTerm=='' || course.status === filterStatusTerm">
              <th scope="row">{{course.id}}</th>
              <td>
                <img src="{{course.imageUrl}}" alt="">
              </td>
              <td>
                <div class="row">
                  <a [routerLink]="['/courseDetails', course.id]">{{course.name}}</a>
                </div>
                <div class="row" *ngIf="course.instructors.length > 0">
                  <strong>Instructors:</strong>&nbsp;
                  <span *ngFor="let instructor of course.instructors">{{instructor.name}} &nbsp; &nbsp;
                  </span>
                </div>
              </td>
              <td><span class="statusBox">{{course.status}}</span></td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>